<div class="container">

  <div class="heading">
    <h2>Password Generator</h2>
  </div>

  <div class="passwordLength">
    <label>Length</label>
    <input (input)="onChangeLength($any($event.target).value)" />
  </div>

  <div class="checkboxes">
    <div class="checkbox-1">
      <input type="checkbox" (change)="onChangeLetters()" />
      <label>Use Letters</label>
    </div>

    <div class="checkbox-2">
      <input type="checkbox" (change)="onChangeNumbers()" />
      <label>Use Numbers</label>
    </div>

    <div class="checkbox-3">
      <input type="checkbox" (change)="onChangeSymbols()" />
      <label>Use Symbols</label>
    </div>
  </div>

  <div>
    <button
      [disabled]="!((length && includeLetters) || includeNumbers || includeSymbols)" (click)="onButtonCLick()" >Generate</button>
  </div>

  <div class="generatedPassword" *ngIf="password" >
    <label>Generated Password</label>
    <input type="text" [value]="password">
  </div>

</div>
